:root {
    --spotify-black: #191414;
    --spotify-green: #1db954;
    --spotify-white: #ffffff;

    --custom-gray: rgb(50, 50, 50);
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: var(--spotify-black);
    color: var(--spotify-white);
    font-family: sans-serif, Helvetica, Arial;
    text-align: center;
    padding: 20px 0;
    /* Limit the width of the game. */
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

main {
    padding: 0 15px;
}

.full-height {
    height: 100%
}

.full-width {
    width: 100%;
}

/* Set flex display with column flow. */
.flex-column {
    display: flex;
    flex-flow: column;
}

/* Fill all remaining space on display. */
.flex-fill {
    flex: 1 1 auto;
}

/* Add even space between elements. */
.flex-even-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Do not display this element. */
.no-display {
    display: none;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

div {
    margin: 0 0 15px 0;
}

button {
    border-style: none;
    border-radius: 50px;
    background-color: var(--spotify-green);
    font-weight: bolder;
    color: var(--spotify-white);
}

button:hover {
    background-color: #2e9753;
    cursor: pointer;
}

.unstyled {
    /* Remove bullets and padding in lists. Included in Bootstrap.*/
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

.center-vertical {
    /* Center the contents of a div vertically. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap-ellipsis {
    /* Wrap overflow text with ellipsis. */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-title {
    font-weight: bolder;
    font-size: 10vh;
    color: var(--spotify-green);
}

.game-subtitle {
    font-weight: bold;
    font-size: 3.5vh;    
}

.spotify-icon-large {
    height: 60px;
    padding-bottom: 20px;
}

.spotify-icon-small {
    height: 30px;
    padding-bottom: 20px;
}

.large-button {
    height: 60px;
    width: 250px;
    font-size: 20px;
}

.small-button {
    height: 35px;
    width: 80px;
    font-size: 15px;
}

input {
    background-color: var(--spotify-black);
    color: var(--spotify-white);
    border: 1px solid var(--spotify-white);
    font-size: 17px;
    padding: 10px 10px 10px 25px;
}

.form-input > input[type="text"] {
    max-width: 400px;
    width: 60%;
    border-radius: 20px 0px 0px 20px;
}

.form-input > button[type="submit"] {
    width: 25%;
    max-width: 100px;
    height: 45px;
    font-size: 15px;
    border: 1px solid var(--spotify-black);
    border-radius: 0px 20px 20px 0px;
}

.gray-rounded {
    background-color: var(--custom-gray);
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
}

.user-display {
    width: 40%;
}

#connected-users {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.cover-img {
    height: 40vh;
    width: auto;
    margin: 0 0 5px 0;
}

div.cover-img {
    border: 1px solid white;
}

.track-suggestion {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: var(--custom-gray);
}

.track-suggestion:hover {
    background-color: var(--spotify-black);
}

#scores-table {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}

tr {
    line-height: 50px;
    width: 100%;    
}

td {
    width: 40%;
    display: inline-block;
    border-top: 1px solid var(--spotify-white);
}

#track-search {
    width: 100%;
}

#autocomplete-container {
    margin-top: auto;
    margin-bottom: auto;
}

#search-container {
    margin-top: auto;
}