{% extends "game/base.html" %}

{% load static %}

{% block title %}
    Game Room
{% endblock %}

{% block main %}

    <form hidden id="settings">
        <input type="hidden" value="{{ game_id }}" id="game-id">
        <input type="hidden" value="{{ playlist }}" id="playlist-id">
        <input type="hidden" value="{{ username }}" id="username">
        <input type="hidden" value="{{ user_id }}" id="user-id">
        <input type="hidden" value="{{ access_token }}" id="access-token">
        <input type="hidden" value="{{ refresh_token }}" id="refresh-token">
    </form>

    <div id="waiting-room" class="flex-column full-height">
        <div>
            <div class="game-subtitle">Copy join code</div>
            <div><button class="small-button" id="copy-code-button">Copy</button></div>
        </div>

        <div class="flex-fill">
            <div class="game-subtitle">Connected: <span id="number-of-connected-users"></span></div>
            <div id="connected-users"></div>
            <!--Add so that when a lotta people join, only top show. Or make it scroll.-->
        </div>

        {% if user_id == game_id %}
            <div>
                <button class="large-button" id="start-game-button">Start Game</button>
            </div>
        {% endif %}
    </div>

    <div id="playing-room" class="no-display">
        <div id="tracks-container"></div>
        <div>
            <input id="track-search" placeholder="Type to search...">
        </div>
        <div>
            <ul id="autocomplete" class="unstyled"></ul>
        </div>
    </div>

    <div id="scores-display" class="no-display">
        <div class="game-subtitle">Scores</div>
        <table id="scores-table">
            <tbody></tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'game/game.js' %}"></script>
{% endblock %}